
html {
    scroll-behavior: smooth;
}

body {
    background-color: rgba(18, 133, 204, 0.3);
    font-family:'Poppins';
    margin: 0;
    padding: 0;
    padding-top: 65px;
}

header {
    width: 100%;
    background: #EEEEEE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 65px;
    padding: 10px 10px 10px 20px;
    box-sizing: border-box;
    align-items: center;
    position: fixed;
    top: 0px;
    margin-bottom: 50px !important;
}

h1 {
    font-weight: 600;
    font-size: 49px;
    line-height: 73px;
    color: #544949;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h2 {
    font-weight: 600;
    font-size: 31px;
    line-height: 46px;
    color: #1285CC;
}

h3 {
    font-size: 20px;
    line-height: 30px;
    color: #544949;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

li{
    list-style-type: none;
    font-size: 20px;
    font-weight: 600;
}

nav{
    width: 70%;
    height: 45px;
    display: flex;
    right: 20px;
    float: right;
    justify-content: flex-end;
}

.navbar ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.navbar a{
    text-decoration: none;
    color: #0B5380;
    font-style: normal;
    padding: 0 40px;
}

a:hover{
    background-color: #C6E9FF;
}

#logo {
    height: 45px;
    width:45px;
    float: left;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#circles {
    max-width: 100%;
    height: auto;
    z-index: -1;
}

#Ken {
    max-width: 100%;
    height: auto;
}

.toggle {
    font-size: 35px;
    float: right;
    color: #0B5380;
    display: none;
    padding-right: 10px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projects img {
    max-width: 360px;
    max-height: 240px;
    padding: 42px;
}

.teksti{
    background-color: #EEEEEE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


}


@media only screen and (max-width: 750px) {

    nav {
        /*display: none;*/
        position: absolute;
        top: 65px;
        width: 100%;
        height: calc(100vh - 50px);
        background: #0B5380;
        left: -100%;
        transition: 0.5s;
    } 

    nav.active {
        left: 0;
    }

    .toggle {
        display: block;
        float: right;
    }

    .navbar ul {
        padding-top: 40%;
        display: block;
        text-align: center;
        width: 100%;
    }

    .navbar a{
        text-decoration: none;
        color: #C6E9FF;
        font-style: normal;
    }

    li{
        list-style-type: none;
        font-size: 31px;
        font-weight: 600;
        padding: 20px;
    }

    .projects img {
        padding: 42px 0px;
    }

}